<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ToDo</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the HTML5 ASP.NET Web API!<br /></h1>              
                <h2>An iPhone based mobile app designed for simplifying every day tasks.</h2>
            </hgroup>
            <p>
                MongoDB Cloud Integration
            </p>
            <p>
                To learn more about our software development ventures visit
                <a href="http://software.zonktechnology.com" title="Zonk® Technology">Zonk® Technology</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Other Zonk® Technology iPhone Apps:</h3>
        <ol class="round">
            <li class="one">
                <h5>iTracker</h5>
                    Is a GPS based telemetry logger that stores real-time location data at user defined intervals. Journey information can be displayed on an interactive map or through the built-in CSV and GPX viewer. Routes exported via email can be imported into third party software that support both Comma-separated and GPS eXchange file formats. Waypoints can be graphically or manually bookmarked, then imported and exported via the clipboard.<br /><br />
                <a href="https://itunes.apple.com/us/app/itracker/id726960882?ls=1&mt=8" target="_blank">Available on the App Store</a>
            </li>

            <li class="two">
                <h5>iWebSearch</h5>
                    Is designed to speed up the process required when submitting a single search term to multiple search engines. By simply tapping on the desired search engine the user can scroll through the list then repeat the process by navigating back and tapping an alternative search engine. Bookmarked results can be viewed then exported via email in a Comma-separated format.<br /><br />
                <a href="https://itunes.apple.com/us/app/iwebsearch/id771845202?ls=1&mt=8" target="_blank">Available on the App Store</a>
            </li>
        </ol>
    </section>
</div>
